@keyframes shadow-hover-fadein{
    from{box-shadow: 10px 10px 12px #00000020;}
    to{box-shadow: 10px 10px 12px #00000050;}
}

@keyframes shadow-hover-fadeout{
    from{box-shadow: 10px 10px 12px #00000050;}
    to{box-shadow: 10px 10px 12px #00000020;}
}

@keyframes login-button-hover-fadein{
    from{box-shadow: 5px 5px 12px #00000000;}
    to{box-shadow: 5px 5px 12px #00000050;}
}

@keyframes login-button-hover-fadeout{
    from{box-shadow: 5px 5px 12px #00000050;}
    to{box-shadow: 5px 5px 12px #00000000;}
}

@keyframes input-hover-animation{
    from{border-bottom: 2px solid #d4d4d4;}
    to{border-bottom: 2px solid #c003b7;}
}

@keyframes login-button-fadein{
    from{background-image: linear-gradient(90deg,#00d9ff, #ff0dde);}
    to{background-image: linear-gradient(90deg, #ff0dde,#00d9ff);}
}

@keyframes login-button-fadeout{
    from{background-image: linear-gradient(90deg, #ff0dde,#00d9ff);}
    to{background-image: linear-gradient(90deg,#00d9ff, #ff0dde);}
}

@media all {
    html, body{
        height: 100%;
        min-height: 600px;
        min-width: 450px;
    }

    body{
        background: linear-gradient(60deg, #00d9ff, #ff0dde) no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    /* =============================================================================== */
    /*                                   main                                          */
    /* =============================================================================== */
    #main {
        background: #fff;
        animation:  shadow-hover-fadeout 0.5s;
        -webkit-animation:  shadow-hover-fadeout 0.5s;
        box-shadow: 10px 10px 12px #00000020;
        border-radius: 15px;

        width: 80%;
        height: 80%;
        min-height: 500px;
        max-width: 1100px;
        max-height: 600px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    #main:hover{
        animation:  shadow-hover-fadein 0.5s;
        -webkit-animation:  shadow-hover-fadein 0.5s;
        box-shadow: 10px 10px 12px #00000050;
    }

    /* =============================================================================== */
    /*                                   login                                         */
    /* =============================================================================== */
    #login{
        flex: 3;
        min-width: 350px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* =============================================================================== */
    /*                                   title                                         */
    /* =============================================================================== */
    #title{
        width: 100%;

        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid #d4d4d4;
    }

    /* =============================================================================== */
    /*                                login form                                       */
    /* =============================================================================== */
    #login-form{
        width: 90%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;

        flex: 4;
    }

    #login-form-password{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #toggle-password{
        font-size: 14px;
        margin-right: 15px;
    }

    #username-notification,
    #password-notification {
        font-size: 14px;
        visibility: hidden;
        color: red;
        padding-right: 15px;
    }

    #toggle-password:hover{
        cursor: pointer;
        color: rgb(143, 0, 209);
    }

    #login-form-username,
    #login-form-password{
        font-size: 18px;
        margin-top: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #login-form-password{
        margin-top: 30px;
    }

    .login-form-username-input,
    #login-form-password-input{
        border: none;
        border-bottom: 2px solid #d4d4d4;
        height: 48px;
        width: 90%;
        color: #1a1a1a;
        font-weight: bolder;
        line-height: 24px;
        font-size: 15px;

        padding-left: 10px;
        padding-right: 10px;
    }

    .login-form-username-input:hover,
    .login-form-username-input:focus,
    #login-form-password-input:hover,
    #login-form-password-input:focus{
        text-decoration: none;
        outline: none;

        border-bottom: 2px solid #c003b7;
        animation: input-hover-animation 0.5s;
    }

    #login-action{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 60px;
        margin-bottom: 20px;

        /* button style */
        background:-webkit-linear-gradient(right,  #00dbde, #fc00ff);
        animation:  login-button-hover-fadeout 0.5s;
        -webkit-animation:  login-button-hover-fadeout 0.5s;
        box-shadow: 5px 5px 12px #00000000;
        border: none;
        color: white;
        font-weight: bolder;
        font-size: 16px;
        border-radius: 25px;

        outline: none;
        text-decoration: none;
    }

    #login-action:hover{
        animation:  login-button-hover-fadein 0.5s;
        -webkit-animation:  login-button-hover-fadein 0.5s;
        box-shadow: 5px 5px 12px #00000050;
    }

    #login-action:hover,
    #login-action:active{
        outline: none;
        text-decoration: none;

        cursor: pointer;

        background:-webkit-linear-gradient(right, #fc00ff, #00dbde);
    }

    #login-result {
        /*visibility: hidden;*/
        font-size: 14px;
        color: red;
    }

    #register{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #register a{
        text-decoration: none;
        outline: none;
        color: black;
        font-size: 14px;
    }

    #register a:hover{
        color: rgb(143, 0, 209);
    }

    /* =============================================================================== */
    /*                                   sider                                         */
    /* =============================================================================== */
    #sider{
        flex: 5;
        height: 100%;
        /* background-image: url('https://i.loli.net/2019/11/20/7QE5RDXkguGnvaj.jpg'); */
        background-image: url('../assets/login.jpeg');
        background-size: cover;
        background-attachment: local;
    }
}

@media all and (max-width: 800px) {
    /* =============================================================================== */
    /*                                   main                                          */
    /* =============================================================================== */
    /* #main{

    } */

    /* =============================================================================== */
    /*                                   login                                         */
    /* =============================================================================== */
    #login{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

        /* =============================================================================== */
    /*                                   title                                         */
    /* =============================================================================== */
    /* #title{

    } */

    /* =============================================================================== */
    /*                                login form                                       */
    /* =============================================================================== */
    #login-form{
        flex: 8;
    }

    /* =============================================================================== */
    /*                                   sider                                         */
    /* =============================================================================== */
    #sider{
        display: none;
    }
}

